*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.col-1{
  background-color: pink;
  border: 2px solid black;
  height: 200px;
}
.col-12{
  background-color: pink;
  border: 2px solid black;
  height: 200px;
}
.col-8{
  background-color: pink;
  border: 2px solid black;
  height: 200px;
}
.col-2{
  background-color: pink;
  border: 2px solid black;
  height: 200px;
}
